@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

@property --offset {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}
a {
    color: inherit;
    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline 0.15em;
    transition: --offset 400ms, text-decoration-color 400ms;
  }
  
  a:hover {
    --offset: 0.4em;
    text-decoration-color: red;
  }
  
  @supports not (background: paint(something)) {
    a {
      transition: text-underline-offset 400ms, text-decoration-color 400ms;
    }
    
    a:hover,
    a:focus {
      text-underline-offset: 0.4em;
    }
  }

  .nav-link{
    text-decoration: underline;
    text-decoration-color: black;
  }

  .navb-items{
    position: fixed;
    padding-right: 20px;
    right: 0;
  }
  